.container {
    background-color: #001c31;
    width: 100vw;
    position: relative;
    color: #fff;
}

.img1Container {
    position: absolute;
    width: 100%;
    height: 9.7%;
    background-image: linear-gradient(#001c31b1, #001c31b1), url('../../../public/assets/foto_1.jpg');
    background-size: cover;
}

.img1 {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.headerContainer,
.firstSection {
    position: relative;
    color: #fff;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0.5rem;
    margin-inline: auto;
    width: 90%;
}

.logo {
    font-family: Italiana;
    font-size: 30px;
    font-weight: 400;
}

.phoneContainer {
    display: flex;
    align-items: center;
}

.phoneContainer img {
    margin-right: 20px;
}

.menuContainer {
    display: flex;
}

.menuContainer li {
    margin: 0 10px;
}

.headerButtons {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.headerButtons a,
.headerButtons button {
    border-radius: 20px;
    font-size: 11px;
    padding: 0px 25px;
    font-weight: 700;
    height: 37px;
}

.headerButtons a:first-child {
    display: flex;
    align-items: center;
    color: #23c963;
    border: 1px solid #23c963;
}

.headerButtons a>img {
    margin-right: 10px;
}

.headerButtons button:last-child {
    margin-left: 20px;
    padding: 0 40px;
    border: 1px solid #fff;
}

.menu {
    display: none;
}

.menu span {
    display: block;
    width: 33px;
    height: 2px;
    background-color: #fff;
    margin-top: 8px;
}

.headerBorder {
    display: block;
    position: relative;
    background-color: #ffffff6e;
    width: 78%;
    height: 1px;
    margin: auto;
    margin-bottom: 8rem;
}

.firstSection {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    border-bottom: 1px solid #ffffff6e;
    width: 80%;
}

.mainTexts span>h1 {
    display: inline;
}

.mainTexts h1 {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 70px;
    font-family: Antonio;
    font-weight: 400;
}

.mainTexts h1:last-child {
    display: inline;
    color: #25D366;
}

.mainTexts p {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 15px;
}

.firstSectionButtons {
    display: flex;
    align-items: center;
    margin: 7rem 0 10rem;
}

.firstSectionButtons a {
    padding: 0.8rem 3.2rem;
    border-radius: 20px;
    font-family: Antonio;
}

.firstSectionButtons a:first-child {
    background-color: #25d366;
    margin-right: 20px;
}

.firstSectionButtons a:last-child {
    border: 1px solid #fff;
}

.advantageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1rem;
    padding-bottom: 4rem;
}

.testee {
    display: none;
}

.advantage {
    border: 1px solid #9F9F9F;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #001C31;
}

div.advantage:first-of-type {
    background-color: #25d36680;
    border: none;
}

.advantage img {
    margin-bottom: 1.5rem;
}

.advantage p:nth-child(2) {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 2rem;
}

.advantage p:last-child {
    font-size: 13px;
    font-weight: 300;
}

.secondSection {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 5rem 10rem 0rem 2rem;
    margin-bottom: 9rem;
}

.imgContainerTe {
    position: relative;
    height: 100%;
    width: 55%;
}

.imgContainerTe>.img2 {
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.messageContainer {
    border: 3px solid #fff;
    position: absolute;
    top: 7%;
    left: 5%;
    height: 86%;
    width: 90%;
    padding: 3rem 2rem;
}

.messageContainer h1 {
    color: #23c963;
    margin: 0;
    font-size: 35px;
    font-weight: 400;
}

.messageContainer p {
    position: absolute;
    bottom: 2rem;
    right: 0;
    margin-right: 2rem;
    font-size: 17px;
    color: #fff;
}

.verticalBorder {
    display: block;
    background-color: #23c963;
    width: 3px;
    height: 70%;
}

.whatWeDoContainer {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
}

.whatWeDoContainer h1 {
    margin: 0 0 1rem;
    font-size: 30px;
    font-weight: 400;
    color: #23c963;
}

.whatWeDoContainer span {
    height: 3px;
    width: 23%;
    margin: 0 0 5rem;
    background-color: #fff;
}

.whatWeDoContainer p {
    margin-bottom: 2rem;
    font-weight: 400;
    text-align: justify;
}

.whatWeDoContainer>a {
    background-color: #25d366;
    padding: 1rem 2.2rem;
    border-radius: 5px;
    margin-top: 4rem;
    font-size: 15px;
}

.thirdSection {
    position: relative;
    margin-bottom: 4rem;
    background-color: #002642;
}

.thirdSection .img3 {
    flex: 1;
    width: 50%;
    height: 90vh;
    background-image: url('../../../public/assets/image_2.png');
    background-size: cover;
}

.aboutUsContainer {
    position: absolute;
    top: 8%;
    left: 43%;
    width: 50%;
    background-color: #001c31;
    border-radius: 10px;
    padding: 2rem;
}

.aboutUsContainer h1 {
    color: #25d366;
    font-size: 30px;
    margin-bottom: 2rem;
}

.aboutUsContainer h2 {
    color: #3896ee;
    margin-bottom: 4rem;
    border-left: 3px solid;
    padding-left: 1rem;
    font-size: 20px;
}

.aboutUsContainer p {
    margin-bottom: 2rem;
    color: #E2E2E2;
    font-weight: 300;
    width: 85%;
}

.greenLine {
    display: flex;
    background-color: #25d366;
    height: 3px;
    width: 90%;
    margin: auto;
}

.fourthSection {
    margin: 7rem auto;
    width: 75%;
}

.servicesHeader {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicesHeader div {
    width: 50%;
}

.servicesHeader h1 {
    font-size: 40px;
    border-left: 3px solid #25D366;
    margin-bottom: 2rem;
    padding-left: 2rem;
    color: #25d366;
}

.servicesHeader span {
    font-size: 11px;
    font-weight: 700;
    background-color: #25d366;
    padding: 1.3rem 2rem;
}

.servicesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px 50px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #25d366;
}

.service img {
    height: 90px;
    margin: 1.5rem 0;
}

.service p {
    text-align: center;
    background-color: #25d366;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    font-weight: 700;
}

.fifthSection {
    margin: 7rem 0 10rem;
}

.fifthSectionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.fifthSectionHeader span {
    text-align: center;
    margin-bottom: 2rem;
}

.fifthSectionHeader span :last-child {
    color: #25d366;
}

.fifthSectionHeader h1 {
    font-size: 35px;
    margin-bottom: 2rem;
    display: inline;
}

.fifthSectionHeader p {
    text-align: center;
    width: 52%;
    color: #CACACA;
}

.casesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.case {
    height: 722px;
    /* height: 82vh; */
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-size: cover;
    position: relative;
}

.case img {
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.case div {
    margin: 2rem 0 0 2rem;
    position: relative;
}

.case h1 {
    font-size: 30px;
}

.case p {
    color: #25d366;
    font-weight: 700;
    font-size: 12px;
}

.case:first-child>h1,
.case:first-child>p {
    text-align: start;
    margin: 0;
}

.case:first-child>p {
    color: #25d366;
}

.caseBtnContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.caseBtnContainer a,
.caseBtnContainer button {
    width: 75%;
    padding: 1rem 0;
    border-radius: 14px;
    margin-bottom: 2rem;
    font-weight: 700;
}


.caseBtnContainer :first-child {
    background-color: #25d366;
    text-align: center;
    font-size: 12px;
}

.caseBtnContainer :last-child {
    border: 2px solid #50d28a;
}

.sixthSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    background-image: url(../../../public/assets/foto_8.png);
    background-size: cover;
    padding: 2rem;
    min-height: 60vh;
}

.sixthSection h1 {
    color: #25d366;
    text-align: center;
    width: 49%;
    font-size: 40px;
    margin-bottom: 2rem;
}

.sixthSection p {
    width: 39%;
    text-align: center;
    color: #CACACA;
    margin-bottom: 3rem;
    font-weight: 700;
}

.sixthSection a {
    border-radius: 5px;
    background-color: #25d366;
    padding: 1.5rem 1rem;
    width: 20%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}


.opinionHeader {
    background-color: #25d366;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    margin-bottom: 5rem;
}

.opinionHeader>span {
    width: 50%;
    height: 3px;
    background-color: #fff;
}

.opinionHeader div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 3rem;
}

.opinionHeader span {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.opinionHeader h1 {
    text-align: center;
    font-size: 35px;
    margin: 2rem 20px 0rem 20px;
}

.opinionHeader p {
    text-align: center;
    width: 74%;
    font-size: 20px;
    color: #ffffffab;
    margin-top: 1rem;
}

.opinion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.opinion img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.opinion>div {
    position: absolute;
    border: 3px solid #fff;
    display: flex;
    align-items: flex-end;
    margin: 5rem 0;
    height: 75%;
    width: 80%;
    padding: 5%;
}

.opinion span {
    width: 50%;
    height: 100%;
}

.opinion span:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    height: 100%;
}

.opinion div span>p {
    width: 80%;
    height: 90%;
    font-size: 20px;
    text-align: justify;
}

div.opinion:nth-child(2) {
    background-image: linear-gradient(#001c31b1, #001c31b1), url("../../../public/assets/foto_9.jpg");
    background-size: cover;
    height: 100vh;
}

div.opinion:nth-child(4) {
    background-image: linear-gradient(#001c31b1, #001c31b1), url("../../../public/assets/foto_10.png");
    background-size: cover;
    height: 100vh;
}

div.opinion:nth-child(6) {
    background-image: linear-gradient(#001c31b1, #001c31b1), url("../../../public/assets/foto_11.jpg");
    background-size: cover;
    height: 100vh;
}

#teste div {
    flex-direction: row-reverse;
    align-items: flex-start;
}

#teste span:last-child {
    align-items: start;
}

#teste h3 {
    text-align: end;
}

.opinion span h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.opinion h3 {
    font-size: 22px;
    margin: 0;
    color: #25d366;
}

.opinionsContainer>.greenLine {
    margin: 7rem auto;
    height: 3px;
    width: 50%;
}

.seventhSection {
    display: none;
}

.contactUsContainer {
    margin-top: 5rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-top: 25px solid #25d366;
    position: relative;
}

.contactUsContainer>div:first-child {
    padding-bottom: 2rem;
}

.contactUsContainer>div>h1 {
    border-left: 3px solid #fff;
    padding-left: 1rem;
    font-size: 40px;
    margin: 5rem 0 2rem 5rem;
}

.formTextContainer {
    display: flex;
    border: 3px solid #25d366;
    width: 90%;
    border-left: 0;
    padding: 0 1rem 0 5rem;
    box-sizing: border-box;
    color: #CACACA;
    font-size: 18px;
}

.formTextContainer>p {
    padding: 2rem 4rem 2rem 0;
    border-right: 20px solid #25d366;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2rem 0;
    padding: 0 5rem;
    position: relative;
}

.form input {
    border: 3px solid #25d366;
    background-color: transparent;
    color: #fff;
    margin-bottom: 2rem;
    padding: 1.5rem 1.3rem;
    width: 70%;
    font-size: 14px;
    font-weight: 700;
    outline: none;
}

.form textarea {
    outline: none;
    background-color: #25d366;
    color: #fff;
    font-size: 15px;
    padding: 1.5rem;
    width: 70%;
    margin-bottom: 2rem;
}

.form button {
    background-color: #25d366;
    width: 40%;
    padding: 1.5rem;
    font-size: 15px;
}

.lines {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 0;
    bottom: 0;
}

.lines>span {
    height: 3px;
    background-color: #fff;
    margin-top: 1rem;
}

.lines>span:first-child {
    width: 114px;
}

.lines>span:last-child {
    width: 146px;
}

.form>input::placeholder,
.form>textarea::placeholder {
    color: #fff;
}

.contactUsContainer>div>span:last-child {
    font-size: 12px;
    padding-left: 5rem;
}

.contactUsContainer>div>span:last-child p {
    display: inline;
}

.mark {
    background-color: transparent;
    color: #25d366;
    font-weight: 700;
}

.lastContainer {
    background-image: url(../../../public/assets/foto_12.png);
    box-sizing: border-box;
    color: #fff;
    padding: 6rem 5rem 0;
    width: 75%;
}

.lastContainer div {
    position: relative;
    height: 92%;
    padding: 7rem 5rem 0;
    border: 3px solid #fff;
}

.lastContainer h1 {
    border-bottom: 3px solid #fff;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    color: #25D366;
    font-size: 40px;
}

.lastContainer h2 {
    width: 90%;
    font-size: 28px;
}

.lastContainer>div>h2,
.lastContainer>div>p {
    margin-bottom: 5rem;
}

.lastContainer p {
    font-weight: 400;
    font-size: 16px;
}

.lastContainer>div :last-child {
    position: absolute;
    bottom: 0.5%;
    right: 3rem;
    font-weight: 700;
}

@media (max-width: 1100px) {
    .phoneContainer {
        display: none;
    }

    .lastContainer div {
        padding-inline: 2rem;
    }
}

@media (max-width: 1000px) {

    .headerButtons,
    .phoneContainer {
        display: none;
    }

    .menu {
        display: block;
    }

    .messageContainer {
        padding: 1rem;
    }

    .thirdSection {
        display: flex;
    }

    .aboutUsContainer {
        background-color: transparent;
        position: relative;
        top: 0;
        left: 0;
    }

    .aboutUsContainer p {
        width: 100%;
    }

    .fourthSection {
        width: 80%;
    }


    .opinion img {
        object-fit: cover;
        height: 100vh;
    }

    .opinion div {
        width: 90%;
    }

    .opinion div span p {
        width: 100%;
    }

    .opinion div span h1 {
        text-align: end;
    }

    #teste div h1 {
        text-align: start;
    }

    .lastContainer {
        width: 100%;
        padding-inline: 2rem;
    }

}

@media (max-width: 768px) {

    .secondSection {
        flex-direction: column;
        align-items: center;
        padding-inline: 0;
    }

    .imgContainerTe {
        width: 70%;
    }

    .whatWeDoContainer {
        width: 50%;
    }

    .verticalBorder {
        height: 3px;
        width: 50%;
        margin: 3rem auto;
    }

    .thirdSection .img3 {
        width: 100%;
    }

    .aboutUsContainer {
        position: absolute;
        border-radius: 0;
        width: 100%;
    }

    .aboutUsContainer p {
        color: #fff;
    }

    .servicesHeader {
        flex-direction: column;
        align-items: start;
    }

    .servicesHeader div {
        width: 90%;
        margin-bottom: 3rem;
    }

    .sixthSection h1 {
        width: 70%;
    }

    .sixthSection p {
        width: 60%;
    }

    .sixthSection button {
        width: 30%;
    }

    div.opinion:nth-child(2) {
        background-image: linear-gradient(#001c31b1, #001c31b1), url("../../../public/assets/foto_9.jpg");
        width: 100%;
        height: 500px;
    }

    div.opinion:nth-child(4) {
        background-image: linear-gradient(#001c31b1, #001c31b1), url("../../../public/assets/foto_10.png");
        width: 100%;
        height: 500px;
    }

    div.opinion:nth-child(6) {
        background-image: linear-gradient(#001c31b1, #001c31b1), url("../../../public/assets/foto_11.jpg");
        width: 100%;
        height: 500px;
    }

    .opinion>div {
        margin-block: 0;
        height: 90%;
        flex-direction: column;
    }

    #teste>div {
        flex-direction: column;
    }

    .opinion span:first-child>h3 {
        display: none;
    }

    .opinion span:last-child {
        align-items: start;
    }

    .opinion span {
        width: 100%;
    }

    .contactUsContainer {
        flex-direction: column-reverse;
    }

    .lastContainer {
        padding-inline: 4rem;
        height: 120vh;
    }
}

@media (max-height: 760px) {

    .thirdSection,
    .img3 {
        min-height: 690px;
    }

  
    .lastContainer {
        min-height: 800px;
    }
}

@media (max-width: 600px) {
    .case {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 1.5rem;
    }

}

@media (max-width: 563px) {

    .menuContainer,
    .headerButtons,
    .phoneContainer {
        display: none;
    }

    .headerContainer {
        width: 77%;
    }

    .headerBorder {
        width: 67%;
    }

    .firstSectionButtons button {
        padding-block: 1rem;
    }

    .imgContainerTe {
        width: 90%;
    }

    .whatWeDoContainer {
        width: 70%;
    }

    .servicesHeader {
        align-items: center;
    }

    .servicesHeader div {
        width: 90%;
        margin-bottom: 3rem;
    }

    .servicesContainer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 45px 20px;
    }

    .aboutUsContainer {
        padding: 20px;
    }

    .aboutUsContainer p {
        width: 100%;
    }

    .sixthSection h1 {
        width: 100%;
    }

    .sixthSection p {
        width: 70%;
    }

    .sixthSection button {
        width: 50%;
    }

    .contactUsContainer>div>h1 {
        margin-left: 3rem;
    }

    .formTextContainer,
    .form,
    .contactUsContainer>div>span:last-child {
        padding-left: 3rem;
    }

    .formTextContainer>p {
        padding-right: 1rem;
    }

    .lastContainer {
        width: 100%;
        height: 120vh;
        padding-inline: 2rem;
    }
}

@media (max-width: 480px) {
    .img1Container {
        height: 755px;
        width: 100%;
    }

    .container h1 {
        font-size: 30px;
    }

    .container p {
        font-size: 15px;
    }

    .headerContainer {
        padding: 2.4rem 2.4rem 1.8rem;
        width: 100%;
    }

    .headerBorder {
        background-color: #25D366;
    }

    .firstSection {
        width: 100%;
        margin-inline: 0;
        border: none;
    }

    .mainTexts {
        width: 90%;
        padding-left: 60px;
    }

    .mainTexts h1 {
        line-height: normal;
        height: 50px;
        margin: 0;
    }

    .mainTexts>span h1 {
        display: block;
        line-height: normal;
    }

    .firstSectionButtons {
        justify-content: center;
    }

    .firstSectionButtons a {
        padding: 1.5rem 0;
        width: 41%;
        text-align: center;
    }

    .advantageContainer {
        width: 81%;
        padding: 2.5rem 0 4.6rem;
        border: 3px solid #25D366;
        margin-inline: auto;
    }

    .testee {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        width: 75%;
        margin-inline: auto;
    }

    .testee h1 {
        color: #25D366;
        margin-bottom: 2rem;
    }

    .testee p {
        width: 100%;
        text-align: center;
    }

    .advantage {
        width: 75%;
        margin-inline: auto;
    }

    .secondSection {
        margin-bottom: 4rem;
    }

    .imgContainerTe {
        width: 100%;
    }

    .messageContainer {
        width: 81%;
        left: 10%;
    }

    .messageContainer h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 81%;
        margin: auto;
    }

    .messageContainer p {
        text-align: end;
        position: unset;
        margin-right: 0.5rem;
    }

    .verticalBorder {
        width: 81%;
    }

    .whatWeDoContainer {
        width: 81%;
        align-items: center;
    }

    .whatWeDoContainer h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 2.4rem;
    }

    .whatWeDoContainer span {
        display: none;
    }

    .whatWeDoContainer p {
        text-align: center;
    }

    .whatWeDoContainer a {
        padding-inline: 0;
        width: 55%;
        text-align: center;
    }

    .thirdSection {
        display: none;
    }

    .greenLine {
        width: 81%;
    }

    .fourthSection {
        width: 81%;
        margin-block: 3.5rem 4rem;
    }

    .servicesHeader h1 {
        border: none;
        text-align: center;
        padding: 0;
    }

    .servicesHeader p {
        text-align: center;
    }

    .servicesContainer {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 45px 20px;
    }

    .service p {
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fifthSection {
        width: 80%;
        margin-inline: auto;
        margin: 3.5rem auto 6rem;
    }

    .fifthSectionHeader {
        width: 100%;
    }

    .fifthSectionHeader p {
        width: 100%;
    }

    .casesContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .case {
        width: 100%;
        max-width: 331px;
        margin: 0 auto 1.5rem;
        height: 450px;
    }

    .case img {
        height: 100%;
    }

    .case div:last-child {
        margin: 0;
    }

    .caseBtnContainer {
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .caseBtnContainer button,
    .caseBtnContainer a {
        width: 59%;
        padding: 0.9rem 0;
    }

    .sixthSection {
        margin-bottom: 4rem;
    }

    .sixthSection h1,
    .sixthSection p {
        width: 93%;
        text-align: start;
    }

    .sixthSection a {
        width: 63%;
    }

    .opinionHeader {
        padding: 0;
        margin-bottom: 4rem;
        background-color: transparent;
    }

    .opinionHeader>span {
        width: 32%;
        background-color: #25D366;
    }

    .opinionHeader>div {
        width: 90%;
    }

    .opinionHeader h1 {
        color: #25D366;
        text-align: center;
    }

    .opinionHeader p {
        color: #EAEAEA;
    }

    .opinionHeader img {
        display: none;
    }

    div.opinion:nth-child(2) {
        background-image: linear-gradient(#001c31b1, #001c31b1), url("../../../public/assets/foto_9.jpg");
        width: 100%;
        height: 379px;
    }

    div.opinion:nth-child(4) {
        background-image: linear-gradient(#001c31b1, #001c31b1), url("../../../public/assets/foto_10.png");
        width: 100%;
        height: 379px;
    }

    div.opinion:nth-child(6) {
        background-image: linear-gradient(#001c31b1, #001c31b1), url("../../../public/assets/foto_11.jpg");
        width: 100%;
        height: 379px;
    }

    .opinion img {
        object-fit: none;
        width: 100%;
        height: 90%;
    }

    #teste div,
    .opinion div {
        width: 89%;
        border: 3px solid;
        flex-direction: column;
        align-items: start;
        padding: 4rem 1.7rem 2rem;
    }

    .opinion div span>p {
        font-size: 15px;
        color: #9F9F9F;
    }

    .opinionsContainer>.greenLine {
        margin: 2rem auto;
        width: 71%;
    }

    .seventhSection {
        display: block;
        border-block: 3px solid #fff;
        width: 78%;
        padding: 2.5rem 1rem;
        margin: 4rem 0;
        margin-inline: auto;
    }

    .seventhSection h1 {
        font-size: 25px;
    }

    .seventhSection p {
        color: #25D366;
        margin: 3rem 0;
        font-size: 20px;
    }

    .seventhSection p:last-child {
        text-align: center;
        border: 3px solid #25D366;
        color: #fff;
        margin: 0;
        border-radius: 5px;
        width: 52%;
        padding: 0.3rem;
    }

    .lastContainer {
        padding: 4rem 0rem 3rem;
    }

    .lastContainer div {
        padding: 0;
        border: none;
        height: 100%;
    }

    .lastContainer h1 {
        font-size: 50px;
        margin-inline: 3.5rem 2rem;
    }

    .lastContainer h2 {
        width: 100%;
        font-size: 35px;
        padding-inline: 3.5rem 2rem;
    }

    .lastContainer p:first-of-type {
        background: #25d366cc;
        font-size: 18px;
        padding: 1rem 3.5rem;
    }

    .lastContainer p:last-of-type {
        bottom: 0;
        margin: 0;
        font-size: 20px;
    }

    .contactUsContainer {
        border: 0;
    }

    .contactUsContainer>div>h1 {
        border: none;
        font-size: 30px;
        text-align: center;
        padding: 0;
        margin: 3rem 0 2rem;
    }

    .formTextContainer {
        width: 100%;
        border-right: 0;
        padding-inline: 2rem 0;
    }

    .formTextContainer p {
        font-size: 15px;
        width: 90%;
        padding-right: 2rem;
    }

    .form {
        padding: 0;
        width: 80%;
        margin-inline: auto;
        margin-bottom: 6rem;
    }

    .form input,
    .form textarea {
        width: 100%;
        margin-inline: auto;
    }

    .form button {
        width: 60%;
    }

    .lines {
        display: none;
    }
}